.navbar-nav {
  flex-direction: row;
  /* background-color: #777da7; */
}
.mynav > li {
  padding: 15px;
}
.navlink {
  padding: 10px;
  cursor: pointer;
}
.mynav li a {
  color: #1c330a;
  font-weight: 600;
}
